@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.flex {
    display: flex;
}

.bg_black {
    background-color: black;
    color: white;
}

.bg_grey {
    background-color: #121212;
}

.invert {
    /* For making black SVG as white SVG */
    filter: invert(1);
}

.round {
    border-radius: 7px;
}

.margin-1 {
    margin: 5px;
}

.padding-1 {
    padding: 10px;
}

.font {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
}

/* webkit Customizations */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background-color: #222;
}

.volumeRange input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 90px;
    height: 15px;
    background: #3a3a3a;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
}

.volumeRange input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 13px;
    background: #1db954;
    border-radius: 50%;
    transition: transform 0.2s ease;
}

.volumeRange input[type="range"]::-webkit-slider-thumb:hover {
    transform: scale(1.5);
}